@model ELF_Trial1.Models.StudentGeneralDetails


<div style="background-color:white;height:100%">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            margin-left: 250px;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            background-color: rgba(72,72,72,1);
            color: white;
            padding: 8px;
            height: 50px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: yellow;
            text-align: center;
        }
    </style>
    <style>
        input[type=button] {
            background-color: black;
            color: white;
            border: 0.1px solid #ff6a00;
            height: 40px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        input.activesubbutton {
            background-color: #ff6a00;
            color: white;
            border: 0.1px solid #ff6a00;
            height: 40px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .activesubbutton:hover {
            background-color: #808080;
            font-size: 20px;
            color: white;
        }

        input.myFilter {
            background-color: #ff6a00;
            color: white;
            border: 0.1px solid #ff6a00;
            height: 40px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .myFilter:hover {
            background-color: #808080;
            font-size: 20px;
            color: white;
        }

        input[type="radio"]:checked + label {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgb(255, 0, 0);
        }
    </style>
    <style>
        .writetestbutn {
            background-color: #808080; /* Green */
            border: 0.5px solid #b9b9b9;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <style>
        input[type=text] {
            width: 40%;
            padding: 10px 15px;
            margin: 4px 0;
            box-sizing: border-box;
            background-color: #d6d4d4;
            border-color: #808080;
        }

        input[type=password] {
            width: 40%;
            padding: 10px 15px;
            background-color: #d6d4d4;
            border-color: #808080;
            margin: 4px 0;
            box-sizing: border-box;
        }

        .filtertextbox:focus {
            font-size: 26px;
            -webkit-transition-duration: 0.6s; /* Safari */
            transition-duration: 0.6s;
        }
    </style>
    <style>
        .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            background-color: dimgrey;
            color: white;
            border-color: white;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            background-color: #ff6a00;
            color: white;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 18px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>


    <style>
        #topname {
            margin: 0 auto;
            width: 110px;
            height: 97px;
            margin-top: 89px;
        }

        .icon_middletext {
        }

            .icon_middletext span {
                display: block;
                color: white;
                font-size: 24px;
            }

        .icon_middletextSmall {
        }

            .icon_middletextSmall span {
                display: block;
                color: white;
                font-size: 12px;
            }
    </style>
    <style>
        .icon_middleicon {
            display: block;
            margin-top: -100px;
            margin-left: 370px;
            width: 110px;
            height: 97px;
        }

            .icon_middleicon img {
                margin-top: -13px;
            }

        #tophelp {
            margin: 0 auto;
            width: 110px;
            height: 97px;
            margin-top: 89px;
        }

        .icon_middleicon #helpicon {
            display: block;
            margin-top: -70px;
            margin-left: 30px;
        }

        #topsignout {
            margin: 0 auto;
            width: 110px;
            height: 97px;
            margin-top: 89px;
        }

        .icon_middleicon #signouticon {
            display: block;
            margin-top: -70px;
            margin-left: 20px;
        }

        #topsettings {
            margin: 0 auto;
            width: 110px;
            height: 97px;
            margin-top: 89px;
        }

        .icon_middleicon #settingsicon {
            display: block;
            margin-top: -70px;
            margin-left: 20px;
        }
    </style>




    <script>
        function SearchStudent() {
            var StudentID = document.getElementById('ELFStudentID').value;
            $('#StudentDetails').show();

        }
        var app = angular.module('TestMainPage', []);

        app.controller('Overall', function ($scope) {
            $scope.OverallTest = [{ "Subject": "1", name: 'Physics', "TestID": "OT01", "Description": "Thermodynamics" },
                { "Subject": "2", name: 'Chemistry', "TestID": "OT01", "Description": "Vector Algebra" },
                { "Subject": "3", name: 'Maths', "TestID": "OT01", "Description": "Matrices" },
                { "Subject": "4", name: 'Computer Science', "TestID": "OT01", "Description": "Trignomentry" }];
            $scope.myFunction = function (val) {

                return (val.Subject != 2);
            };
            $scope.tab = 'Physics';
        });
        app.controller('Recommended', function ($scope) {
            $scope.RecommendedTest = [{ "Subject": "1", name: 'Physics', "TestID": "OT01", "Description": "Thermodynamics" },
                { "Subject": "2", name: 'Chemistry', "TestID": "OT01", "Description": "Vector Algebra" },
                { "Subject": "3", name: 'Maths', "TestID": "OT01", "Description": "Matrices" },
                { "Subject": "4", name: 'Computer Science', "TestID": "OT01", "Description": "Trignomentry" }];
        });

        app.controller('Public', function ($scope) {
            $scope.PublicTest = [{ "Subject": "1", name: 'Physics', "TestID": "OT01", "EndDate": "08-11-2016","EndDateTime":"06:00 PM" },
                { "Subject": "2", "name": "Chemistry", "TestID": "OT01", "EndDate": "19-11-2016", "EndDateTime": "06:00 PM" },
                { "Subject": "3", "name": "Maths", "TestID": "OT01", "EndDate": "14-11-2016", "EndDateTime": "08:00 PM" },
                    { "Subject": "4", "name": "Computer Science", "TestID": "OT01", "EndDate": "12-11-2016", "EndDateTime": "09:00 AM" }];
        });

    </script>


   
</div>

<div ng-app="TestMainPage">
    <div class="col-md-10 col-md-offset-1" style="margin-left:100px;margin-top:020px;">
        <ul class="nav nav-tabs nav-justified" style="margin-top:50px;">
            <li class="active"><a class="navbuttons" data-toggle="tab" href="#Overall">Overall</a></li>
            <li><a class="navbuttons" data-toggle="tab" href="#Recommended">Recommended</a></li>
            <li><a class="navbuttons" data-toggle="tab" href="#Public">Public</a></li>
        </ul>
        <div class="tab-content" style="margin-top:30px;margin-left:-250px;">
            <div id="Overall" class="tab-pane fade in active" style="text-align:center">
                <div ng-controller="Overall">
                    <div style="margin-left:250px;">
                        <input type="text" class="filtertextbox" ng-model="FilteronDescription" placeholder="Any Details">
                    </div></br>
                    <div style="margin-left:250px;">
                        <input type="button" ng-class="{activesubbutton: tab == 'Physics'}" ng-click="tab='Physics'; myFilter = {Subject: 1}" value="Phy" />
                        <input type="button" ng-class="{activesubbutton: tab == 'Chemistry'}" ng-click="tab='Chemistry'; myFilter = {Subject: 2}" value="Chem" />
                        <input type="button" ng-class="{activesubbutton: tab == 'Maths'}" ng-click="tab='Maths';myFilter = {Subject: 3}" value="Maths" />
                        <input type="button" ng-class="{activesubbutton: tab == 'cs'}" ng-click="tab='cs';myFilter = myFunction" Value="CS" />
                        <input type="button" ng-class="{activesubbutton: tab == 'nofilter'}" ng-click="tab='nofilter';myFilter = null" Value="No Filter" />
                    </div>
                    <table style="margin-top:30px;">
                        <tr>
                            <th>Subject</th>
                            <th>Test ID</th>
                            <th>Description</th>
                            <th>Write Test</th>
                        </tr>
                        <tr ng-repeat="person in OverallTest | filter:myFilter |  filter:{Description:FilteronDescription}">
                            <td>{{person.name}}</td>
                            <td>{{person.TestID}}</td>
                            <td>{{person.Description}}</td>
                            <td><button id="{{person.TestID}}" class="writetestbutn" onclick="alert(this.id)">Write Test</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="Recommended" class="tab-pane fade">
                <div ng-controller="Recommended">
                    <table>
                        <tr ng-repeat="person in RecommendedTest">
                            <td>{{person.name}}</td>
                            <td>{{person.Subject}}</td>
                            <td>{{person.TestID}}</td>
                            <td>{{person.Description}}</td>
                            <td><button id="{{person.TestID}}" class="writetestbutn" onclick="alert(this.id)">Write Test</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="Public" class="tab-pane fade">
                <div style="margin-left:600px;">
                    <input type="button" ng-click="myFilter = {Subject: 1}" value="Physics" />
                    <input type="button" ng-click="myFilter = {Subject: 2}" value="Chemistry" />
                    <input type="button" ng-click="myFilter = {Subject: 3}" value="Maths" />
                    <input type="button" ng-click="myFilter = null" Value="No Filter" />
                </div>
                <div ng-controller="Public">
                    <table style="margin-top:50px;">
                        <tr ng-repeat="person in PublicTest | filter:myFilter |  filter:{Description:FilteronDescription}" ">
                            <td>{{person.name}}</td>
                            <td>{{person.Subject}}</td>
                            <td>{{person.TestID}}</td>
                            <td>{{person.EndDate}}</td>
                            <td>{{person.EndDateTime}}</td>
                            <td><button id="{{person.TestID}}" class="writetestbutn" onclick="alert(this.id)">Write Test</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>