@model ELF_Trial1.Models.Student.Registration

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">

    </script>

</head>
<body>

    <Select id="UserSelect">
        <option value="Student">Student</option>
        <option value="Parent">Parent</option>
        <option value="Staff">Staff</option>
    </Select>

    <div class="form-group">
        <label for="namestudent">Enter Email Address:</label>
        <input type="text" placeholder="Enter EmailAddress" id="EmailAddress" />

        <label for="namestudent">Enter PhoneNumber:</label>
        <input type="text" placeholder="Enter PhoneNumber" id="PhoneNumber" />

        <label for="namestudent">Enter New Password:</label>
        <input type="password" placeholder="New Password" id="Password" />
        <label for="namestudent">Re-enter New Password:</label>
        <input type="password" placeholder="Re-enter New Password" id="ReenterPassword" />
    </div>

    <button type="submit" class="btn btn-default" onclick="btnsave()">Submit</button>

    <script>

        function btnsave() {
            var user = document.getElementById('UserSelect').value;

            var phonenumber = document.getElementById('PhoneNumber').value;

            var email = document.getElementById('EmailAddress').value;

            var password = document.getElementById('Password').value;

            var reenterpassword = document.getElementById('ReenterPassword').value;


            if (email == "") {
                alert("Enter Email");
            }
            else if (phonenumber == "") {
                alert("Enter Phone NUmber");
            }
            else if (password == "") {
                alert("Enter Password");
            }
            else if (reenterpassword == "") {

                alert("Enter Reenter Password")
            }
            else if (password != reenterpassword) {
                alert("password mismatch");

            }

            else {

                $.ajax({
                    type: 'POST',
                    url: '/ELFWeb/ForgotPassword',
                    data: { Number: phonenumber, Password: password, Email: email, User: user },
                    success: function (data) {
                        if (data == 'success') {
                            alert("Welcome To ELF,Now you can login and start Analyzing");
                            window.location.href = '/ELFWeb/Index';

                        }
                        else if (data == 'failed') {
                            alert("Enter Email and Phone number correctly");
                        }
                    },
                    error: function (err) {
                        if (err.status == 200) {
                            ParseResult(err);
                        }
                        else { alert('Error:' + err.responseText + '  Status: ' + err.status); }
                    }
                });
            }
        }
    </script>
</body>
</html>
