@model ELF_Trial1.Models.Student.Registration

<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#UserSelect').change(function () {
                $('.User').hide();
                $('#' + $(this).val()).show();
            });

            $("[name=Class]").click(function () {
                $('.Group').hide();
                $("#Group-" + $(this).val()).show();
            });
        });
    </script>

</head>
<body>

    <Select id="UserSelect">
        <option value="Student">Student</option>
        <option value="Parent">Parent</option>
        <option value="Staff">Staff</option>
    </Select>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">StudentName</span>
            <input id="FirstName" type="text" class="form-control" name="FirstName" placeholder="Enter Name">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Phone</span>
            <input id="PhoneNumber" type="text" class="form-control" name="Phone" placeholder="Enter PhoneNumber">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Email:</span>
            <input id="EmailAddress" type="text" class="form-control" name="Email" placeholder="Enter EmailAddress">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input id="Password" type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Re-EnterPassword</span>
            <input id="ReenterPassword" type="password" class="form-control" name="reenterpassword" placeholder="Enter ReenterPassword">
        </div>

    </div>


    <div id="Student" class="User" style="display:block">
        <h2>Select Class:</h2>
        <div class="userselectionbutn">
            <input type="radio" name="Class" value="1" />
            <label for="userinstitute">10th</label>
        </div>
        <div class="userselectionbutn">
            <input type="radio" name="Class" value="2" />
            <label for="userinstitute">12th</label>
        </div>
        <div id="Group-2" class="Group" style="display:none">
            <h2>Select Group:</h2>
            <div class="userselectionbutn">
                <input type="radio" name="Group" value="1" />
                <label for="userinstitute">Computer Science</label>
            </div>
            <div class="userselectionbutn">
                <input type="radio" name="Group" value="2" />
                <label for="userinstitute">Biology</label>
            </div>
        </div>
    </div>
    <div id="Parent" class="User" style="display:none">

        <div style="height:100px"></div>
    </div>
    <div id="Staff" class="User" style="display:none">
        <label class="checkbox-inline"><input type="checkbox" value="samacheer">Samacheer</label>
        <label class="checkbox-inline"><input type="checkbox" value="cbsc">CBSC</label></br>

        <label class="checkbox-inline"><input type="checkbox" value="tenthstd">10th Standard</label>
        <label class="checkbox-inline"><input type="checkbox" value="twelthstd">12th Standard</label></br>

        <label class="checkbox-inline"><input type="checkbox" value="">Physics</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Chemistry</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Maths</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Biology</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Computer Science</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Social(10th)</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Sciene(10th)</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Maths(10th)</label>
    </div>

    <button type="submit" class="btn btn-default" onclick="btnsave()">Submit</button>

    <script>

        function btnsave() {
            var user = document.getElementById('UserSelect').value;

            var name = document.getElementById('FirstName').value;

            var phonenumber = document.getElementById('PhoneNumber').value;

            var email = document.getElementById('EmailAddress').value;

            var password = document.getElementById('Password').value;

            var reenterpassword = document.getElementById('ReenterPassword').value;

            var classes = $('input[name=Class]:checked').val();

            var groups = $('input[name=Group]:checked').val();


            if (name == "") {
                alert("Enter Name");
            }
            else if (phonenumber == "") {
                alert("Enter Phone NUmber");
            }
            else if (email == "") {
                alert("Enter Email");
            }
            else if (password == "") {
                alert("Enter Password");
            }
            else if (reenterpassword == "") {

                alert("Enter Reenter Password")
            }
            else if (password != reenterpassword) {
                alert("passwordmismatch");

            }

            else {

                if (user == "Parent") {
                    classes = 0;
                    groups = 0;
                }

                if (classes == 1) {

                    groups = 0;
                }
                $.ajax({
                    type: 'POST',
                    url: '/ELFWeb/SubmitRegistration',
                    data: { FirstName: name, Number: phonenumber, Password: password, Email: email, Class: classes, Group: groups, User: user },
                    success: function (data) {
                        if (data == 'success') {
                            alert("Welcome To ELF,Now you can login and start Analyzing");
                            window.location.href = '/ELFWeb/Index';

                        }
                        else if (data == 'failed') {
                            alert("Enter Username and Password correctly");
                        }
                    },
                    error: function (err) {
                        if (err.status == 200) {
                            ParseResult(err);
                        }
                        else { alert('Error:' + err.responseText + '  Status: ' + err.status); }
                    }
                });
            }
        }
    </script>
</body>
</html>
    